@charset "utf-8"; 


@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600&family=IBM+Plex+Sans+KR:wght@200;300;400;500;600;700&display=swap');


/* default */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,p,button,iframe,th,td{margin:0; padding:0; line-height:0; font-size:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block; margin:0; padding:0; box-sizing:border-box;}
h1,h2,h3,h4,h5,h6,dt{font-weight:normal;}
img,fieldset,iframe,button{border:0 none;}
li{list-style:none;}
i, em, u, cite {font-style:normal;}
strong{font-weight:normal;}
a{color:#757575; text-decoration:none; outline-offset:-1px;}
.chrome a,
.safari a{outline-offset:-3px;}


html, body{height:100%; line-height:0; font-size:0; font-family: "IBM Plex Sans KR", sans-serif;}
body{overflow-x:hidden; word-break:keep-all; word-wrap:break-word;}
body.non-scroll {overflow-y:hidden;}

/* Form */
legend{position: absolute; top: 0; left: 0; width: 0; height: 0; overflow: hidden; visibility: hidden; font-size: 0; line-height: 0;}
select, input, textarea {outline:0;}
select, input, label{vertical-align:middle}
button{border:0 none; cursor:pointer; background:none; font-family: "IBM Plex Sans KR", sans-serif;}

select::-ms-expand { display: none;}
select::-moz-focus-inner { border: 0; padding: 0;}
select:-moz-focusring { color: transparent; text-shadow: 0 0 0 #000;}
select{font-family: "IBM Plex Sans KR", sans-serif;}
input{font-family: "IBM Plex Sans KR", sans-serif;}
table {border-collapse: collapse; table-layout:fixed; width:100%;}
textarea {font-family: "IBM Plex Sans KR", sans-serif;}
*:focus {outline: 0;}
input[type=text]::-ms-clear {display: none; height: 0; width: 0;}

body {font-family: "IBM Plex Sans KR", sans-serif; font-weight: 300; background:#36312A; }
/* font-family: "Cormorant Garamond", serif; */
.wrap {overflow: hidden;}
.header {height:80px; padding:0 40px; display:flex; align-items: center; justify-content: space-between;  background-image: linear-gradient(to bottom, rgba(56, 51, 48, 0.4), rgba(0, 0, 0, 0)); position:absolute; top:0; left:0; width:100%; box-sizing: border-box; z-index:20;}
.header .link { padding:0 16.5px 0 18.5px; background-color: #383330; height:53px; display: flex; align-items: center;}
.header .link a {font-size: 12px; line-height: 53px; color: #d4ccc2; padding-right:10px; background:url('/assets/images/common/icon-arrow.png') no-repeat right center; background-size:3px auto;}
.header h1 img {height:35px;}
.header .head .gnb {display: flex; }
.header .head .gnb > li > a {font-size: 20px; line-height: 1.5; color: #d4ccc2; padding:0 35px; height:80px; display:flex; align-items: center;}

.main-content {}
.main-content .main-sec01 {position: relative; height:600vh;}
.main-content .main-sec01.over .text {position: absolute; left:0; top:auto; bottom:0;}
.main-content .main-sec01.over .info-scroll {position: absolute; left:0; top:auto; bottom:0; opacity: 0;}
.main-content .main-sec01 .img-box {position: relative; height:600vh; overflow: hidden;}
.main-content .main-sec01 .text {height:100vh; display: flex; align-items: center; justify-content: center; position:fixed; top:0; left:0; z-index:10; width:100%;}
.main-content .main-sec01 .text h2 {font-family: "Cormorant Garamond", serif; font-size: 70px; font-weight: bold; line-height: 1.14; text-align: center; color: #fff;}
.main-content .main-sec01 .img-scroll {position: fixed; height:100vh; width:100%; left:0; top:0;}
.main-content .main-sec01 .img-scroll .img01 {position: absolute; left:5%; top:0%; opacity:0; filter: blur(10px); transform: scale(0);}
.main-content .main-sec01 .img-scroll .img02 {position: absolute; right:5%; top:0%; opacity:0; filter: blur(10px); transform: scale(0);}
.main-content .main-sec01 .img-scroll .img03 {position: absolute; left:5%; top:0%; opacity:0; filter: blur(10px); transform: scale(0);}
.main-content .main-sec01 .img-scroll .img04 {position: absolute; right:5%; top:0%; opacity:0; filter: blur(10px); transform: scale(0);}
.main-content .main-sec01 .img-scroll .img05 {position: absolute; left:5%; top:0%; opacity:0; filter: blur(10px); transform: scale(0);}
.main-content .main-sec01 .img-scroll .img06 {position: absolute; right:5%; top:0%; opacity:0; filter: blur(10px); transform: scale(0);}
.main-content .main-sec01 .img-scroll .img07 {position: absolute; left:5%; top:0%; opacity:0; filter: blur(10px); transform: scale(0);}
.main-content .main-sec01 .img-scroll .img08 {position: absolute; right:5%; top:0%; opacity:0; filter: blur(10px); transform: scale(0);}
.main-content .main-sec01 .img-scroll .img09 {position: absolute; left:5%; top:0%; opacity:0; filter: blur(10px); transform: scale(0);}
.main-content .main-sec01 .img-scroll li div {width:604px; height:862px; overflow: hidden; position: relative;}
.main-content .main-sec01 .img-scroll li div img {position: relative; left:50%; top:50%; transform: translate(-50%, -50%);}

.info-scroll {position: fixed; height:100vh; left:0; top:0; width:100%; display: flex; align-items: flex-end; justify-content: center; transition: opacity 0.3s;}
.info-scroll p {font-family: "Cormorant Garamond", serif; font-size: 12px; line-height: 1.33; color: #fff; padding:20px 0;  opacity: 0.67; text-transform: uppercase;}
.sc-line {width:1px; height:74px; overflow: hidden; margin:0 auto;}
.sc-line span {animation:scrollDown 2.2s cubic-bezier(.76,0,.3,1) forwards infinite; height:100%; width:1px; background:#ac9f8c; display:block;}


.main-content .main-sec02 {height:100vh; min-height:900px; position: relative; background:#000;}
.main-content .main-sec02.play .img-bg {opacity: 0; filter: blur(5px);}
.main-content .main-sec02 .img-bg {position: absolute; left:0; top:0; width:100%; height:100%; background:url('/assets/images/main/main_than_01.jpg') no-repeat; background-size:cover; transition: all 0.8s;}
.main-content .main-sec02 .text {width:100%; text-align:center; position: absolute; left:0; top:0; height:100%; box-sizing: border-box; padding-top:280px; background:rgba(0, 0, 0, 0.5)}
.main-content .main-sec02 .text span {font-family: "Cormorant Garamond", serif; font-size: 18px; font-weight: 300; line-height: 1.72; text-align: center; color: #ac9f8c; display:inline-block;}
.main-content .main-sec02 .text h3 {font-family: "Cormorant Garamond", serif; font-size: 70px; font-weight: bold; line-height: 1.14; text-align: center; color: #fff; display:block; margin-top:23px;}
.main-content .main-sec02 .play-btn {position: absolute; bottom:265px; left:0; width:100%; text-align:center;}
.main-content .main-sec02 .play-btn button {font-size: 16px; font-weight: bold; line-height: 1.2; text-align: left; color: #d4ccc2; display: flex; align-items: center; justify-content: center; margin:0 auto;}
.main-content .main-sec02 .play-btn button span {display:inline-block; width:60px; height:60px; background-color: #d4ccc2; position: relative; border-radius:50%; margin-right:30px;}
.main-content .main-sec02 .play-btn button span::after {content:''; position: absolute; left:50%; top:50%; transform: translate(-50%, -50%); width:15px; height:20px; background:url('/assets/images/common/icon-play.png') no-repeat; background-size:100% auto;}
.main-content .main-sec02 iframe {width:100%; height:100%;}

.main-content .main-sec03 {height:200vh; min-height:1800px; position: relative; background:#36312A; box-sizing: border-box; padding-top:100vh;}
.main-content .main-sec03 .move-img {width:100%; height:100vh; background:url('/assets/images/main/main_visi-01.jpg') center center no-repeat; background-size:cover; position: absolute; right:0; top:0;}
.main-content .main-sec03 .bottom-sec {height:100vh; min-height:900px; width:100%; display:flex; align-items: center; justify-content: center;}
.main-content .main-sec03 .text {height:866px; width:1400px;}
.main-content .main-sec03 .text span {font-size: 18px; font-stretch: normal; line-height: 1.72; text-align: left; color: #ac9f8c; font-family: "Cormorant Garamond", serif; display:inline-block;}
.main-content .main-sec03 .text h3 {font-size: 65px; font-weight: 300; line-height: 1.38; letter-spacing: -1.3px; color: #fff; margin-top:22px;}
.main-content .main-sec03 .text h3 strong {font-weight:500;}
.main-content .main-sec03 .text p {margin-top:19px; font-size: 18px; font-weight: normal; line-height: 1.78; letter-spacing: -0.18px; color: #d4ccc2;}
.main-content .main-sec03 .text .icon-list {margin-top:147px; padding-left:9px;}
.main-content .main-sec03 .text .icon-list li {font-size: 16px; font-weight: bold; line-height: 1.63; text-align: left; color: #d4ccc2; padding-left:42px; position: relative;}
.main-content .main-sec03 .text .icon-list li::after {content:''; width:30px; height:30px; background:#ac9f8c; border-radius:50%; position:absolute; left:0; top:50%; margin-top:-15px;}
.main-content .main-sec03 .text .icon-list li + li {margin-top:20px;}

.main-content .main-sec04 {height:100vh; min-height:900px; position: relative; background:url('/assets/images/main/main_than_01.jpg') center center no-repeat; background-size:cover; display:flex; align-items: center; justify-content: center; position: relative;}
.main-content .main-sec04 .img-area {position: absolute; left:0; top:0; width:100%; height:100%; background:url('/assets/images/main/main_than_02.jpg') center center no-repeat; background-size:cover; clip-path: circle(290px at var(--x) var(--y));}
.main-content .main-sec04 .img-area:active {clip-path: circle(400px at var(--x) var(--y)); transition: all 0.2s;}
.main-content .main-sec04 .text {width:1400px; height:400px; position: relative;}
.main-content .main-sec04 .text span {font-size: 18px; font-weight: 300; line-height: 1.72; text-align: left; color: #ac9f8c; font-family: "Cormorant Garamond", serif; display:inline-block;}
.main-content .main-sec04 .text h3 {font-size: 70px; font-weight: bold; line-height: 1.14; text-align: left; color: #fff; font-family: "Cormorant Garamond", serif; margin-top:18px;}
.main-content .main-sec04 .text p {font-size: 16px; font-weight: bold; line-height: 1.63; text-align: left; color: #d4ccc2;  margin-top:78px;}

.main-content .main-sec05 {height:100vh; min-height:900px; min-height:900px; position: relative;}
.main-content .main-sec05 .rolling-text {width:7200px; animation: scroll-animation 15s linear infinite; position: relative; display: flex; height:100%; align-items: center;}
.main-content .main-sec05 p { opacity: 0.67; -webkit-text-stroke: 1px rgba(0, 0, 0, 0); font-size: 120px; font-weight: bold; line-height: 1.2; color: #d4ccc2; font-family: "Cormorant Garamond", serif; width:2400px;}
.main-content .main-sec05 a {position: absolute; bottom:10%; left:50%; transform: translateX(-50%); font-size: 16px; font-weight: bold; line-height: 1.63; text-align: center; color: #d4ccc2;}
.main-content .main-sec05 .img-marker {position: absolute; left:50%; top:50%; transform: translate(-50%, -50%);}
.main-content .main-sec05 .img-marker img {width:772px;}

@keyframes scroll-animation{
    0%{
      left: 0;
    }
    100%{
      left: -2400px; /* 텍스트 width와 동일 */
    }
  }


@keyframes scrollDown {
  0% {
      transform: translateY(-100%)
  }

  75% {
      transform: translateY(0)
  }

  to {
      transform: translateY(100%)
  }
}



.tohi-cont {background:url('/assets/images/tohi/sub-visual.png') center top no-repeat; background-size:auto 2160px; min-height:2160px; padding-bottom:200px;}
.tohi-cont .sub-visual {height:100vh; min-height:900px; position: relative;}
.tohi-cont .sub-visual .text {position: absolute; left:0; top:50%; transform: translateY(-50%); width:100%; text-align:center; opacity: 0; transition: all 0.5s; filter: blur(5px); opacity: 0; transition: all 0.8s;} 
.tohi-cont .sub-visual .text h2 { font-size: 90px; font-weight: 300; line-height: 1.22; letter-spacing: -1.8px; text-align: center; color: #fff;}
.tohi-cont .sub-visual .text h2 strong {font-weight:500;}
.tohi-cont .sub-visual .text span {display:inline-block; margin-top:30px; font-size: 12px; font-stretch: normal; line-height: 1.33; text-align: center; color: #fff; font-family: "Cormorant Garamond", serif;}
.tohi-cont .sub-visual .info-scroll {position: absolute; left:0; top:0; opacity: 0; transition: all 0.5s 0.5s;}
.tohi-cont.load .sub-visual .text {filter: blur(0); opacity: 1;}
.tohi-cont.load .sub-visual .info-scroll {opacity: 1;}


.tohi-cont .mid-text {margin-top:320px; display: flex; align-items: flex-start; justify-content: center; opacity: 0; transform: translateY(50px);}
.tohi-cont .mid-text p {font-size: 24px; font-weight: 500; line-height: 1.46; text-align: center; color: #fff;}
.tohi-cont .info-tohi {width:1400px; margin:0 auto; margin-top:455px;}
.tohi-cont .info-tohi dl {display: flex; align-items: flex-start; justify-content: space-between;}
.tohi-cont .info-tohi dl dt {opacity: 0; transform: translateY(50px); transition: all 0.5s;}
.tohi-cont .info-tohi dl dt img {width:550px;}
.tohi-cont .info-tohi dl dd {width:790px; opacity: 0; transform: translateY(50px); transition: all 0.5s 0.2s;}
.tohi-cont .info-tohi dl dd strong {font-size: 40px; font-weight: 500; line-height: 1.5; letter-spacing: -0.8px; color: #fff;}
.tohi-cont .info-tohi dl dd p {font-size: 18px; font-weight: 300; line-height: 1.78; text-align: left; color: #d4ccc2; margin-top:24px;}

.tohi-cont .info-tohi li:nth-child(even) dl {flex-direction:row-reverse}
.tohi-cont .info-tohi li + li {margin-top:220px;}
.tohi-cont .info-tohi li.active dt {opacity: 1; transform:translateY(0);}
.tohi-cont .info-tohi li.active dd {opacity: 1; transform:translateY(0);}
